* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #313030;
}

header {
  background:  #313030;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

header a:hover {
  text-decoration: underline;
  background-color: rgb(41, 39, 39);
} 

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
}
main a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 22px;
  text-align: center;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  text-align: center;
}